.row {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.flex-lightpink {
    background-color: lightpink;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-lightblue {
    background-color: lightblue;
    width: 200px;
}

.item1 {
    background-color: black;
    color: white;
}