input {
    margin-bottom: 10px;
}

.first-name-textbox,
.last-name-textbox,
.email-textbox {
    padding: 10px 10px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(187, 186, 186);
}

.first-name-textbox,
.last-name-textbox {
    width: 100px;
}

.email-textbox {
    display: block;
    width: 230px;
}

.sign-up-button {
    display: block;
    background-color: rgb(0, 103, 230);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    padding: 10px 101.5px;

}