.top-bar {
    position: fixed;
    background-color: lightblue;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 23px;
}

.hamburger-menu-icon {
    width: 23px;
    height: 23px;
    object-fit: cover;
    margin-right: 26px;
    cursor: pointer;
}

.youtube-logo-icon {
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

.middle-section {
    margin-left: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 10px;
    width: 340px;
    border-width: 1px;
    border-color: rgb(175, 175, 175);
    border-style: solid;
    border-radius: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-icon-button {
    margin-left: -2px;
    margin-right: 10px;
    padding: 7px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-color: rgb(175, 175, 175);
    border-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.voice-search-button {
    display: flex;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.voice-search-icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.right-section {
    width: 180px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.upload-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}

.youtube-apps-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}

.notifications-relative {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notifications-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}

.new-notifications {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 10px;
    line-height: 11px;
    border-radius: 25px;
    padding: 1px 4px;
    top: -1px;
    right: -2px;
}

.my-channel-profile-picture {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
}