.top-bar {
    position: fixed;
    background-color: lightblue;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 23px;
}

.hamburger-menu-icon {
    width: 23px;
    height: 23px;
    object-fit: cover;
    margin-right: 26px;
}

.youtube-logo-icon {
    height: 20px;
    object-fit: cover;
}

.middle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    padding: 10px;
    width: 350px;
}

.search-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.voice-search-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.right-section {
    width: 180px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.upload-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.youtube-apps-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.notifications-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.my-channel-profile-picture {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 16px;
}