.top-bar {
    position: fixed;
    background-color: lightblue;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hamburger-menu-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.youtube-logo-icon {
    height: 30px;
    object-fit: cover;
}

.search-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.voice-search-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.upload-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.youtube-apps-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.notifications-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.my-channel-profile-picture {
    width: 30px;
    height: 30px;
    object-fit: cover;
}